<form>
    <div class="form-group"
    <label for="id">Client ID</label>
    <input type="text" id="id" <%= isEditing ? 'readonly':'' %> value=<%= r_client.id %>>
    </div>

    <div class="form-group"
    <label for="clientName">Client Full Name</label>
    <input type="text" id="id" <%= isEditing ? 'readonly':'' %> value=<%= r_client.fullName %>>
    </div>

    <div class="form-group"
    <label for="clientName">Client Full Name</label>
    <input type="text" id="id" <%= isEditing ? 'readonly':'' %> value=<%= r_client.fullName %>>
    </div>
</form>