<form id="clientForm">
    <div class="form-group mt-2">
    <% if (isEditing) { %>

    <label class="mb-1" for="id">Client ID</label>
    <input class="form-control" type="text" id="id" name="id" <%= isEditing ? 'readonly':'' %> value= "<%= r_client ? r_client.id : '' %>">
    <% } %>
    </div>

    <div class="form-group mt-2"
    <label class="mb-1" for="clientName">Client Full Name</label>
    <input class="form-control" type="text" id="fullName" name="fullName"  value= "<%= r_client ? r_client.fullName : '' %>"">
    </div>

    <div class="form-group mt-2">
    <label class="mb-1" for="email">Email</label>
    <input class="form-control" type="text" id="email" name="email" value= "<%= r_client ? r_client.email : '' %>"">
    </div>

    <div class="form-group mt-2">
    <label class="mb-1" for="riskCategory">Risk Category</label>
    <select class="form-control" type="text" id="riskCategory" name="riskCategory">
        <% riskCategories.forEach(category => { %>
            <option value="<%= category %>" <%= (category === r_client.riskCategory) ? 'selected' : '' %>>
                <%= category %>

            </option>
        <% }) %>
    </select>
    </div>

    <div id="form-alert">

    </div>
    
    <div class="form-group mt-2">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>

<script>
    const form = document.getElementById('clientForm');

    form.addEventListener('submit', async (e) =>{
        e.preventDefault();

        const fd = new FormData(form);
        const payload = Object.fromEntries(fd.entries());

        try{
            const response = await fetch('<%= form_action %>',{
                method: '<%= form_method %>',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            });

        const result = await response.json();
        if (response.status === 201){
            document.getElementById('form-alert').innerText = "Client Created successfully";
            document.getElementById('form-alert').className ="alert alert-success mt-2";
            form.reset();
        }
        else if (response.status === 200){
            document.getElementById('form-alert').innerText = "Client Updated successfully";
            document.getElementById('form-alert').className ="alert alert-success mt-2";
        }
        } catch (error) {
            console.error('Error: ', error);
            document.getElementById('form-alert').innerText = "Client Created successfully";
            document.getElementById('form-alert').className ="alert alert-danger mt-2";

        }

    });
</script>